@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fond global propre */
body {
  background-color: #f9fafb; /* gris très clair */
  color: #0f172a;            /* texte gris-bleu foncé */
  margin: 0;
}

#root {
  min-height: 100vh;
}

@media print {
  [data-print-hide] { display: none !important; }

  /* Masquer la scrollbar à l'impression */
  html {
    overflow: hidden !important;
    scrollbar-width: none !important;
  }
  html::-webkit-scrollbar { display: none !important; }
  body { overflow: hidden !important; }
}